body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.lira {
    background-image: url('lira.svg');
    background-size: contain;
    width: 900px;
    height: 700px;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-position: center center; 
    background-origin: content-box; 
}

.lira__cuerda {
    width: 5px; 
    height: 50%; 
    cursor: pointer;
    margin-right: 20px;
}

.lira__cuerda:last-child {
    margin-right: 0; 
}

.lira__cuerda:hover {
    background-color: white; 
}
