body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000; 
}

.container {
    text-align: center;
    position: relative;
}

.image-container {
    position: relative;
}

.iris-img {
    border: 5px solid yellow; 
    max-width: 100%;
    height: auto;
    transition: box-shadow 0.5s ease-in-out; 
}

.left-eye,
.right-eye {
    position: absolute;
    top: 50%; 
    width: 18%; 
    height: 16%; 
    background: radial-gradient(ellipse at center, rgba(255, 255, 0, 0.8) 0%, rgba(255, 255, 0, 0) 80%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.right-eye {
    left:51%; 
    transform: rotate(-20deg);
}

.left-eye {
    left: 30%;
    transform: rotate(20deg); 
}

.hypnosis-button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.speech-bubble {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 18px;
    top: 10px;
    right: 10px;
}

.shineEyes {
    animation: shineEyes 0.3s forwards;
}

@keyframes shineEyes {
    to {
        box-shadow: 0 0 20px 10px yellow;
    }
}
