*{margin: 0%; padding: 0%; box-sizing: border-box;}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    position: relative; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 500px;
    height: 500px;
    box-shadow: 0 0 60px rgb(114, 197, 114);
}

.grid-item {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(114, 197, 114);
    position: relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#winOverlay {
    color: yellow;
    background: rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: 800;
}

#gameOverOverlay {
    color: red;
    font-size: 40px;
    font-weight: 800;
    background: rgba(0, 0, 0, 0.5);
}